.prev {
  bottom: 50%;
  left: 10px;
  cursor: pointer;
  transform: translate(0, 50%);
}

.next {
  bottom: 50%;
  right: 10px;
  cursor: pointer;
  transform: translate(0, 50%);
}

.icons:hover {
  color: gray;
}

.container {
  padding-top: 80px;
}

header {
  z-index: 999;
}


.component {

  top: 0;
  bottom: 0;

  background-color: red;
  z-index: 9999;
}

.div-image-top {
  height: 200px;
}

.card-image-top {
  object-fit: cover;
}

.immagine-top {
  height: 400px;
  object-fit: cover;
}

.immagine-top-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



main {
  background-color: #012B5C;
}

.copertina {
  width: 100%;
  object-fit: contain;
}

.viola {
  color: #A104E7;
}